@CHARSET "UTF-8";

a, u {
    text-decoration: none;
    color: #151F1D;
    cursor: pointer;
}

h1 {
    font-size: inherit;
}

textarea {
    resize: vertical;
}

body {
    padding-top: 50px;
    color: #151F1D;
    font-size: 14px;
    text-align: center;
}

.navbar-default {
    background-color: #151F1D;
    width: 100%;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.siteLogo {
    height: 50px;
    width: 240px;
    cursor: pointer;
}

.siteLogo img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.siteLogo h1 {
    position: absolute;
    font-size: 0.8em;
    color: white;
    top: 10px;
    left: 60px;
    padding: 0;
}

.nav > li.hideElement {
    display: none;
}

.centralCarousel {
    padding: 0px;
}

.centralCarousel h3 {
    margin: 0;
    color: inherit;
    font-size: 1.8em;
}

.centralCarousel .item {
    background: #151F1D;
    height: 350px;
}

.centralCarousel .carousel-inner img {
    height: 100%;
    width: 100%;
    margin: auto;
}

.centralCarousel .carousel-caption {
    text-shadow: -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000;
}

.reviewPreviewLayout {
    padding: 15px 0px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.reviewPreviewArea {
    overflow: hidden;
    height: 6em;
    float: none;
    display: inline-block;
}

.reviewPreviewArea .carousel-caption {
    position: static;
    color: inherit;
    padding: 0;
    text-shadow: none;
}

.anchor {
    position: absolute;
    top: -60px;
}

.titleLayout {
    position: relative;
    border-bottom: 1px solid #B9B9B9;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 2.3em;
}

.titleLayout h1 {
    margin: 0;
    padding: 10px;
}

.displayOnCenter {
    float: none;
    display: inline-block;
    padding: 0.5%;
    margin: auto;
}

.advertiseBox {
    /*border-bottom: 1px solid #B9B9B9;*/
}

.advertiseBox .caption {
    height: 11em;
    overflow: hidden;
}

.advertiseBox .carousel-indicators,
.advertiseBox .carousel-control {
    display: none;
}

.advertiseBox .carousel-inner img {
    width: 90%;
    margin: auto;
}

.articleTitle {
    padding: 30px 0px;
}

.articleTitle h3 {
    font-size: 1.4em;
    overflow: hidden;
    margin: 0px;
}

.articleTitle h3 span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;
}

.articleTitle h3 span:before,
.articleTitle h3 span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid gray;
}

.articleTitle h3 span:before {
    right: 100%;
}

.articleTitle h3 span:after {
    left: 100%;
}

.defaultArticle {
    margin: 10px 0px;
}

.banner {
    padding: 1%;
    margin: 20px 0px 0px 0px;
}

.banner h1 {
    font-size: 2em;
}

.banner p {
    font-size: 1.2em;
}


.banner img {
    width: 100%;
}

footer {
    background-color: #151F1D;
    margin-top: 10px;
    padding: 30px 0px;
    color: #949494;
}

footer section,
footer .row section{
    margin: 1% 0px;
    overflow: hidden;
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.footerFeedback input,
.footerFeedback textarea,
.footerFeedback button {
    float: left;
    width: 100%;
    background-color: transparent;
    color: white;
    padding: 3px 12px;
}

.footerFeedback button,
.footerFeedback button:HOVER,
.footerFeedback button:FOCUS {
    border: 1px solid white;
}

.buttonWithMargins{
    margin: 2%;
}

.footerFeedback input:HOVER,
.footerFeedback input:FOCUS,
.footerFeedback textarea:HOVER,
.footerFeedback textarea:FOCUS {
    background-color: white;
    color: black;
}

.contactCard p {
    margin: 0px;
}

.gradientFromWhiteToTransparent{
    position: relative;
	overflow: hidden;
}

.gradientFromWhiteToTransparent:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%;
    height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(255,255,255,0.93) 9%, rgba(255,255,255,0) 46%, rgba(255,255,255,0) 47%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(255,255,255,1)), color-stop(9%,rgba(255,255,255,0.93)), color-stop(46%,rgba(255,255,255,0)), color-stop(47%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}


.pageIntro {
    font-size: 3.5em;
    overflow: hidden;
    position: relative;
    min-height: 360px;
}

.pageIntro img {
    display:block;
    width: 100%;
}

.pageIntro h1 {
    text-shadow: -1px -1px 3px #fff,
    1px -1px 3px #fff,
    -1px 1px 3px #fff,
    1px 1px 3px #fff;
}

.pageIntro .gradientFromWhiteToTransparent{
    position:absolute;
    left:0; bottom:0;
}

.pageIntro .introContent{
    position:absolute;
    display: inline-block;
    left:0; top:0;
    width: 94%;
    margin: 2% 3%;
}

.pageIntro .btn-primary {
    font-size: 0.4em;
    text-shadow: none;
    color: white;
}

.hideElement {
    display: none;
}

.photoAlbum {
    max-width: 320px;
    margin: 5px;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 0px 3px 5px rgba(34, 25, 25, 0.4);
    padding: 1%;
    display: inline-block;
    column-break-inside: avoid;
}

.photoAlbum img {
    max-width: 100%;
    max-height: 320px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.photoAlbum figcaption {
    font-size: .85em;
}

#attractionsContent {
    position: relative;
}

.defaultArticleText {
    padding: 0 5% 20px 5%;
}

.hideFigCaption figcaption {
    display: none;
}


.trailDescription {
    margin: 30px 6%;
    font-size: 1.1em;
}

.trailMap {
    width: 100%;
    height: 450px;
}

.trailIndicators p {
    font-size: 1.2em;
    padding: 10px 20px;
    display: inline-block;
}

.input-group {
    margin-bottom: 1%;
}

.listOfItems {
    margin: 2% 0;
}

.listOfItems span {
    font-size: 1.4em;
}

.input-group-addon{
    background-color: transparent;
    color: inherit;
}

.btn-primary,
.navbar-default .navbar-nav > li > a {
    font-size: 1.1em;
    background-color: #151F1D;
    border: 0px;
    color: white;
}

.defaultClickStyle:HOVER,
.defaultClickStyle:HOVER > a {
    background-color: #151F1D;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.defaultClickStyle:ACTIVE {
    background-color: #157f15;
}

.defaultClickStyle:FOCUS {
    outline: none;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active,
.btn-primary:FOCUS {
    color: white;
    background-color: #151F1D;
    outline: 0px;
    text-decoration: none;
}

.btn-primary:HOVER,
.siteLogo:hover > img,
.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #157f15;
    border-color: white;
}

.alert {
    margin: 0.5%;
}

.visibility-hidden {
    visibility: hidden;
}

/* MEDIA */
@media only screen and (max-width: 600px) {

    .pageIntro {
        font-size: 2.2em;
        min-height: 230px;
    }

    .banner img,
    .pageIntro img {
        width: 140%;
    }

    .centralCarousel .item {
        height: 200px;
    }

}

@media only screen and (min-width: 601px) and (max-width: 992px) {

    .pageIntro {
        font-size: 2.5em;
        min-height: 250px;
    }

    .banner img,
    .pageIntro img {
        display:block;
        width: 120%;
    }

    .centralCarousel .item {
        height: 250px;
    }
}