@CHARSET "UTF-8";

a, u {
    text-decoration: none;
    color: #151F1D;
    cursor: pointer;
}

h1 {
    font-size: inherit;
}

body {
    padding-top: 50px;
    color: #151F1D;
    font-size: 15px;
    text-align: center;
}

.navbar-default {
    background-color: #151F1D;
    width: 100%;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.siteBrand {
    height: 50px;
    width: 240px;
    cursor: pointer;
}

.siteBrand img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.siteBrand h1 {
    position: absolute;
    font-size: 0.8em;
    color: white;
    top: 10px;
    left: 60px;
    padding: 0;
}

.nav > li.hideElement {
    display: none;
}

.centralCarousel h3 {
    margin: 0;
    color: inherit;
    font-size: 1.7em;
}

.centralCarousel .item {
    background: #333;
    height: 350px !important;
}

.centralCarousel .carousel-inner img {
    width: 100%;
    margin: auto;
}

.centralCarousel .carousel-caption {
    padding-bottom: 10px;
    padding-top: 0px;
    text-shadow: -1px -1px 3px #000,
    1px -1px 3px #000,
    -1px 1px 3px #000,
    1px 1px 3px #000;
}

.centralCarousel .carousel-indicators {
    bottom: 10px;
}

.reviewPreviewLayout {
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}

.reviewPreviewArea {
    height: 100%;
    overflow: hidden;
}

.reviewPreviewArea .reviewTitle {
    font-family: 'Open Sans', sans-serif;
}

.reviewPreviewArea .carousel {
    height: 90%;
    padding: 5%;
}

.reviewPreviewArea .carousel-caption {
    position: static;
    color: inherit;
    padding: 0;
    text-shadow: none;
    bottom: 0px;
    height: 100%;
}

.reviewPreviewArea .item,
.reviewPreviewArea .carousel-inner,
.reviewPreviewArea p {
    height: 100%;
    margin: 0px;
    font-size: 0.97em;
    font-family: 'Merienda', cursive;
}

.anchor {
    position: absolute;
    top: -60px;
}

.titleLayout {
    text-align: left;
    position: relative;
    background-color: #151F1D;
    color: white;
    margin: 30px 0;
    font-size: 1.6em;
}

.titleLayout h1 {
    margin: 0;
    padding: 10px;
}

.advertiseBox {
    float: none;
    display: inline-block;
    padding: 0.5%;
}

.advertiseBox .item img {
    display: inline-block;
    width: 100%;
    min-height: 150px;
    max-height: 200px;
}

.advertiseBox .caption {
    height: 10em;
    overflow: hidden;
}

.articleTitle {
    padding-bottom: 20px;
}

.articleTitle h3 {
    font-size: 1.4em;
    overflow: hidden;
    margin: 0px;
}

.articleTitle h3 span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    position: relative;
    padding: 0 20px;
}

.articleTitle h3 span:before,
.articleTitle h3 span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid gray;
}

.articleTitle h3 span:before {
    right: 100%;
}

.articleTitle h3 span:after {
    left: 100%;
}

.defaultArticle {
    margin: 20px 0px 50px 0px;
}

/*------------------------------------*\
    $ MAIN CAROUSEL
\*------------------------------------*/
.carouselInfo {
    font-size: 0.9em;
}

.carouselInfo i {
    color: gray;
}

.starter-template {
    margin: 30px 0;
    padding: 1%;
    border-top: 1px solid #151F1D;
}

.starter-template h1 {
    font-size: 1.8em;
}

.starter-template img {
    width: 100%;
}

.sendFeedback textarea {
    width: 100%;
    max-width: 100%;
}

footer {
    background-color: #151F1D;
    margin-top: 30px;
    padding: 50px 10px;
    font-size: 0.8em;
    color: gray;
}

footer section {
    width: 250px;
    max-height: 155px;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
}

.form-control{
    font-size: inherit;
    border: 1px solid #b8b8b8;
}

.footerFeedback .form-group {
    margin-bottom: 0px;
}

.footerFeedback input,
.footerFeedback textarea,
.footerFeedback button {
    float: left;
    width: 100%;
    max-width: 100%;
    border: 1px solid gray;
    background-color: #1D2626;
    color: white;
    padding: 3px 12px;
    height: inherit;
}

.footerFeedback button {
    color: gray;
}

.footerFeedback textarea {
    height: 90px;
    max-height: 90px;
}

.footerFeedback input:HOVER,
.footerFeedback input:FOCUS,
.footerFeedback textarea:HOVER,
.footerFeedback textarea:FOCUS {
    background-color: white;
    color: #151F1D;
}

.businessCard .cardTitle {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.businessCard p {
    margin: 0px;
}

.gradientFromWhiteToTransparent{
    position: relative;
}

.gradientFromWhiteToTransparent:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%;
    height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 6%, rgba(255,255,255,0.93) 9%, rgba(255,255,255,0) 46%, rgba(255,255,255,0) 47%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(6%,rgba(255,255,255,1)), color-stop(9%,rgba(255,255,255,0.93)), color-stop(46%,rgba(255,255,255,0)), color-stop(47%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 6%,rgba(255,255,255,0.93) 9%,rgba(255,255,255,0) 46%,rgba(255,255,255,0) 47%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
           }

.gradientFromWhiteToTransparent img{
    display:block;
    width: 100%;
}

.pageIntro {
    font-size: 3.5em;
    overflow: hidden;
    position: relative;
    min-height: 340px;
}

.pageIntro h1 {
    text-shadow: -1px -1px 3px #fff,
    1px -1px 3px #fff,
    -1px 1px 3px #fff,
    1px 1px 3px #fff;
}

.pageIntro .gradientFromWhiteToTransparent{
    position:absolute;
    left:0; bottom:0;
}

.pageIntro .introContent{
    position:absolute;
    display: inline-block;
    left:0; top:0;
    width: 96%;
    margin: 2% 2%;
}

.pageIntro .btn-primary {
    font-size: 0.4em;
    text-shadow: none;
    color: white;
}

.reservationImages {
    margin-bottom: 30px;
}

.reservationForm {
    width: 100%;
    padding: 2% 12%;
    display: none;
}

.reservationForm .input-group,
.reservationForm p {
    padding: 1%;
    width: 100%;
}

.hideReservationForm {
    color: #151F1D;
    background-color: transparent;
}

.input-group textarea {
    resize: vertical;
}

.reservationForm .submitButton {
    width: 98%;
    margin: 1%;
}

.photoAlbum {
    width: 320px;
    margin: 5px;
    background-color: rgba(256, 256, 256, 0.8);
    box-shadow: 0px 3px 5px rgba(34, 25, 25, 0.4);
    padding: 1%;
    display: inline-block;
    column-break-inside: avoid;
}

.photoAlbum img {
    width: 100%;
    max-height: 320px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.photoAlbum figcaption {
    font-size: .85em;
}

#attractionsContent {
    position: relative;
}

.defaultArticleText {
    padding: 0 5% 20px 5%;
}

.makeArticleTextCursive .defaultArticleText span {
    font-family: 'Merienda', cursive;
    display: block;
}

.hideFigCaption figcaption {
    display: none;
}


.trailDescription {
    margin: 30px 6%;
    font-size: 1.1em;
}

.trailMap {
    width: 100%;
    height: 450px;
}

.trailIndicators p {
    font-size: 1.2em;
    padding: 10px 20px;
    display: inline-block;
}

.listWithIconTitleDetail {
    font-size: 1.2em;
    margin: 20px 0;
}

.listWithIconTitleDetail i {
    font-size: 2em;
}

.listWithIconTitleDetail span {
    font-size: 1.6em;
}

.btn-primary,
.navbar-default .navbar-nav > li > a {
    font-size: 1.1em;
    background-color: #151F1D;
    border: 0px;
    color: white;
}

.defaultClickEvents:HOVER,
.defaultClickEvents:HOVER > a {
    background-color: #151F1D;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.defaultClickEvents:ACTIVE {
    background-color: #157f15;
}

.defaultClickEvents:FOCUS {
    outline: none;
}


.btn-primary:HOVER,
.siteBrand:hover > img,
.navbar-default .navbar-nav > li > a:hover {
    color: white;
    background-color: #157f15;
    border-color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.btn-primary:FOCUS {
    background-color: #151F1D;
    outline: 0px;
    text-decoration: none;
}

/* MEDIA */
@media only screen and (max-width: 480px) {

    .pageIntro {
        font-size: 2.2em;
        min-height: 230px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 780px) {

    .pageIntro {
        font-size: 2.5em;
        min-height: 250px;
    }
}