<div class="container">
    <!-- CAROUSEL -->
    <section class="centralCarousel row">
        <div id="mainCarousel" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel slide" data-ride="carousel" data-interval="{{pageContent.textOverImagesCarousel.timeInterval}}">
            <div id="mainCarouselLayout" class="carousel-inner">
                <!--<script>-->
                    <!--dynamicContentLoader('carousel.htm', 'homepage/mainCarousel.json', 'mainCarouselLayout', 'carouselTemplateId');-->
                <!--</script>-->
                <div data-ng-repeat="slide in pageContent.textOverImagesCarousel.slides" ng-class='{active:$first}' class="item" >
                    <!--{{loadPagePresentation(slide.page)}}-->
                    <span ng-repeat="subCategory in getSubCategories(category.Id)">
                    <img alt="{{pagePresentation.title}}" ng-src="{{pagePresentation.img}}">
                    <div class="carousel-caption">
                        <h3>{{pagePresentation.headlineText}}</h3>
                        <p>{{pagePresentation.description}}</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control left" href="#mainCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a> <a class="carousel-control right" href="#mainCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        </div>
    </section>

    <!--&lt;!&ndash; FIRST SECTION &ndash;&gt;-->
    <!--<section>-->
        <!--<div id="firstSectionHeadline" class="row">-->
            <!--<script>-->
                <!--dynamicContentLoader('_pageSectionTitles.htm', 'homepage/pageStructure.json', 'firstSectionHeadline', 'firstSectionTitleTemplateId');-->
            <!--</script>-->
        <!--</div>-->
        <!--<div id="firstSectionContent" class="row">-->
            <!--<script>-->
                <!--loadContentWithSpecificIds('_pageAdvertiseBox.tmpl.htm', 'common/pagesAdvertiseBox.json', 'homePage/ourOfferBoxes.json', 'firstSectionContent', 'pageAdvertiserBoxTemplateId');-->
            <!--</script>-->
        <!--</div>-->

        <!--<div id="facilitiesAdvertise" class="row">-->
            <!--<script>-->
                <!--dynamicContentLoader('_pageAdvertise.htm', 'accommodation/casaPetri/facilities/pageStructure.json', 'facilitiesAdvertise', 'pageAdvertiseTemplateId');-->
            <!--</script>-->
        <!--</div>-->
    <!--</section>-->

    <!--&lt;!&ndash; SECOND SECTION &ndash;&gt;-->
    <!--<section>-->
        <!--<div id="secondSectionHeadline" class="row">-->
            <!--<script>-->
                <!--dynamicContentLoader('_pageSectionTitles.htm', 'homepage/pageStructure.json', 'secondSectionHeadline', 'secondSectionTitleTemplateId');-->
            <!--</script>-->
        <!--</div>-->
        <!--<div id="secondSectionContent" class="row">-->
            <!--<script>-->
                <!--loadContentWithSpecificIds('_pageAdvertiseBox.tmpl.htm', 'common/pagesAdvertiseBox.json', 'homePage/activitiesBoxes.json', 'secondSectionContent', 'pageAdvertiserBoxTemplateId');-->
            <!--</script>-->
        <!--</div>-->
        <!--<div id="topAttractionsAdvertise">-->
            <!--<script>-->
                <!--dynamicContentLoader('_pageAdvertise.htm', 'activities/trails/topAttractions/pageStructure.json', 'topAttractionsAdvertise', 'pageAdvertiseTemplateId');-->
            <!--</script>-->
        <!--</div>-->
    <!--</section>-->

    <!--&lt;!&ndash; THIRD SECTION &ndash;&gt;-->
    <!--<section>-->
        <!--<div id="thirdSectionHeadline">-->
            <!--<script>-->
                <!--dynamicContentLoader('_pageSectionTitles.htm', 'homepage/pageStructure.json', 'thirdSectionHeadline', 'thirdSectionTitleTemplateId');-->
            <!--</script>-->
        <!--</div>-->
        <!--<div id="thirdSectionContent">-->
            <!--<script>-->
                <!--loadContentWithSpecificIds('_pageAdvertiseBox.tmpl.htm', 'common/pagesAdvertiseBox.json', 'homePage/recommendationsBoxes.json', 'thirdSectionContent', 'pageAdvertiserBoxTemplateId');-->
            <!--</script>-->
        <!--</div>-->
    <!--</section>-->

</div>