<div class="container">
    <!-- PAGE HEADLINE-->
    <div ng-if="pageContent.presentation.showPageHeadline"
         ng-include="'templates/_pageHeadline.tmpl.htm'"></div>
    <!-- SECTIONS-->
    <section ng-repeat="section in pageContent.sections" class="row">
        <!-- TITLE -->
        <div ng-if="section.title.showSectionTitle"
             ng-include="'templates/_sectionTitle.tmpl.htm'"></div>
        <!-- CENTRAL CAROUSEL -->
        <div ng-if="!!section.content.centralCarousel"
             ng-include="'templates/_centralCarousel.tmpl.htm'"></div>
        <!-- ADVERTISE BOXES TO OTHER PAGES -->
        <div ng-if="!!section.content.advertiseBoxesToOtherPagesCarousels"
             ng-include="'templates/_advertiseBoxes.tmpl.htm'"></div>
        <!-- PAGE BANNER-->
        <div ng-if="!!section.content.pageBanner"
             ng-include="'templates/_pageBanner.tmpl.htm'"></div>
        <!--ARTICLES-->
        <div ng-if="!!section.content.articles"
             ng-include="'templates/articles/_articlesManagement.tmpl.htm'"></div>
        <!--FORM-->
        <div ng-if="!!section.content.form"
             ng-include="'templates/_form.tmpl.htm'"></div>
    </section>
</div>