<script id="pageAdvertiserBoxTemplateId" type="text/x-jQuery-tmpl">
    <div class="carousel slide carouselHomePage defaultClickEvents" data-ride="carousel" data-interval="${carouselTimeInterval}" onclick="${destinationPageLink}">
        <div class="carousel-inner">
        {{each(i, slide) carouselImages}}
            <div class="item ${(i==0)?"active":""}" title="${title}">
                <img src="${slide.carouselImgUrl}" alt="${title}">
            </div>
        {{/each}}
        </div>
        <div class="carouselText">
            <p class="carouselTitle">${title}</p>
            <p class="carouselInfo">{{html details}}</p>
            <div style="clear: both;"></div>
        </div>
    </div>
</script>