<script id="googleTrailTemplateId" type="text/x-jQuery-tmpl">
    {{if description}}
        <h2 class="trailDescription">
            {{html description}}
        </h2>
    {{/if}}
    <iframe class="trailMap" frameborder="0" src="${googleMapLink}" allowfullscreen></iframe>
    <div class="trailIndicators">
        {{each(i, indicationBox) indicationsBoxes}}
            <p title="${indicationBox.indicationHoverText}"><i class="${indicationBox.indicationIconFontAwesomeClass}"></i> ${indicationBox.indicationText}</p>
        {{/each}}
    </div>
</script>