<script id="menuBoxTemplateId" type="text/x-jQuery-tmpl">
    <article class="carouselHomePage defaultClickEvents" title="${title}" onclick="${destinationPageLink};">
        <div class="carouselContent">
            <ul class="carouselPanes">
                <li><img src="${imgUrl1}"></li>
                <li><img src="${imgUrl2}"></li>
                <li><img src="${imgUrl3}"></li>
            </ul>
            <div class="carouselText">
                <p class="carouselTitle">${title}</p>
                <p class="carouselInfo">{{html details}}</p>
                <div style="clear: both;"></div>
            </div>
        </div>
    </article>
</script>
