<script id="roomsReservationTemplateId" type="text/x-jQuery-tmpl">
    <article class="defaultArticle anchorParent">
        {{if anchorId}}
             <span id="${anchorId}" class="anchor"></span>
        {{/if}}
        <header class="articleTitle">
            <h3><span>${title}</span></h3>
        </header>
        <section class="reservationImages">
            {{if img1Thumbnail}}
                <figure class="photoAlbum defaultClickEvents">
                    <a rel="fancybox" title="${img1Title} - ${img1Detail}" class="fancybox" href="${img1FullSize}">
                        <img src="${img1Thumbnail}" alt="${title}">
                        <figcaption><b> ${img1Title} </b> - ${img1Detail}</figcaption>
                    </a>
                </figure>
            {{/if}}
            {{if img2Thumbnail}}
                <figure class="photoAlbum defaultClickEvents">
                    <a rel="fancybox" title="${img2Title} - ${img2Detail}" class="fancybox" alt="${title}" href="${img2FullSize}">
                        <img src="${img2Thumbnail}" alt="${title}">
                        <figcaption><b> ${img2Title} </b> - ${img2Detail}</figcaption>
                    </a>
                </figure>
            {{/if}}
            {{if img3Thumbnail}}
                <figure class="photoAlbum defaultClickEvents">
                    <a rel="fancybox" title="${img3Title} - ${img3Detail}" class="fancybox" alt="${title}" href="${img3FullSize}">
                        <img src="${img3Thumbnail}" alt="${title}">
                        <figcaption><b> ${img3Title} </b> - ${img3Detail}</figcaption>
                    </a>
                </figure>
            {{/if}}
        </section>
        <section>
            <button class="btn btn-large btn-primary" onclick="toggleReservationForm(this)">${bookKeyword} ${title} &nbsp&nbsp<i class="showHideForm fa fa-caret-down"></i> </button>
            <div class="reservationForm">
            <form method="post">
                <input type="hidden" name="roomName" value="${title}">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input id="nameReservation" type="text" class="form-control" placeholder="${namePlaceholder}" required="required">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" id="emailReservation" class="form-control" placeholder="Email" required="required">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    <input type="tel" id="phoneReservation" class="form-control" placeholder="${phonePlaceholder}" required="required">
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" name="dataRange"
                           class="form-control" required="required"/>
                </div>

                <div class="input_fields_wrap">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bed"></i></span>
                        <select class="form-control" id="roomsTypeReservation" required="required">
                            <option value="" disabled selected style='display:none;'>${placesPerPricePlaceholder}</option>
                            {{each placesPerPrices}}
                                <option value="${$value.option}">${$value.option}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <p>${moreRequirementsText}</p>
                <label class="checkbox-inline"><input type="checkbox" value="${parkingText}">${parkingText}</label>
                <label class="checkbox-inline"><input type="checkbox" value="${kitchenText}">${kitchenText}</label>
                <label class="checkbox-inline"><input type="checkbox" value="${bikeGarageText}">${bikeGarageText}</label>
                <label class="checkbox-inline"><input type="checkbox" value="${projectorScreenText}">${projectorScreenText}</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-info"></i></span>
                <textarea form="roomReservation" id="othersReservation" class="form-control"
                          placeholder="${othersPlaceholder}"></textarea>
                </div>
                <input type="submit" value="${bookKeyword}" class="btn btn-primary submitButton">
            </form>
            <button class="btn btn-large btn-primary hideReservationForm" onclick="hideReservationForm(this)"><i class="fa fa-caret-up"></i> </button>
            </div>
        </section>
    </article>
</script>