<uib-carousel class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel"
              interval="section.carousel.timeInterval">
    <uib-slide ng-repeat="slide in section.carousel.slides"
               ng-init="otherPagePath=slide.page">
                    <span ng-controller='GetOtherPageContentCtrl'
                          ng-click="openUrl(otherPageContent.url)"
                          title="{{otherPageContent.url.textOnMouseOver}}"
                          class="defaultClickStyle">
                        <img alt="{{otherPageContent.presentation.title}}"
                             ng-src="{{otherPageContent.presentation.fullWidthImg}}">
                        <div class="carousel-caption">
                            <h3 ng-bind-html="otherPageContent.presentation.headline  | trustHtml"></h3>
                            <p class="hidden-xs hidden-sm"
                               ng-bind-html="otherPageContent.presentation.description | trustHtml">
                            </p>
                        </div>
                    </span>
    </uib-slide>
</uib-carousel>
<div style="clear:both"></div>