<script id="reviewPageBoxTemplateId" type="text/x-jQuery-tmpl">
<div class="subcategoryLayout">
    <div class="titleSubcategory">
        <h3><span>${name}|${city}|${country}</span></h3>
    </div>
    <p class="reviewText">"${text}"</p>
    <div class="photoAlbum">
        <figure>
            <a rel="fancybox" title="| ${name} | ${city} | ${country} | ${text}" class="fancybox" href="${fullSizeImgUrl}">
                <img src="${thumbnailImgUrl}" alt="review photo ${name}">
            </a>
            <figcaption>${shortName} @ Casa Petri</figcaption>
        </figure>
    </div>
</div>
</script>