<button ng-if="!!article.hideAreaUnderButton" class="btn btn-large btn-primary buttonWithMargins"
        onclick="toggleSection(this)" ng-bind-html="article.hideAreaUnderButton | trustHtml">
</button>
<div style="clear:both"></div>

<article ng-class="{'areaToBeHided': article.hideAreaUnderButton}" class="defaultArticle anchorParent">
    <span id="{{article.id}}" class="anchor"></span>
    <header ng-if="!!article.title" class="articleTitle">
        <h3><span ng-bind-html="article.title | trustHtml"></span></h3>
    </header>
    <section ng-if="!!article.textContent" class="defaultArticleText">
        <span ng-bind-html="article.textContent | trustHtml"></span>
        <a ng-if="!!article.moreDetailsUrl" ng-click="openUrl(article.moreDetailsUrl)" title="{{article.moreDetailsUrl.textOnMouseOver}}" class="lookLikeLink">{{article.moreDetailsText}}</a>
    </section>
    <section ng-if="!!article.images">
        <a rel="fancybox" ng-repeat="image in article.images" title="{{image.title}} - {{image.description}}"
           class="fancybox"
           target="_self"
           ng-href="{{image.fullSizeUrl}}">
            <figure class="photoAlbum defaultClickStyle">
                <img ng-src="{{image.thumbnailUrl | trustUrl}}" alt="{{image.title}}">
                <figcaption><b> {{image.title}} </b> - {{image.description}}</figcaption>
            </figure>
        </a>
    </section>
    <section ng-if="!!article.iframe">
        <iframe class="trailMap" frameborder="0" ng-src="{{article.iframe.src | trustUrl}}" allowfullscreen></iframe>
        <div class="trailIndicators">
            <p ng-if="!!article.iframe.list" ng-repeat="item in article.iframe.list" title="{{item.textOnMouseOver}}">
                <i ng-class="item.iconFortAwesomeClass"></i>
                {{item.text}}
            </p>
        </div>
    </section>
</article>


