<uib-carousel class="col-xs-12 col-sm-12 col-md-12 col-lg-12 centralCarousel"
              interval="section.content.centralCarousel.timeInterval">
    <uib-slide ng-repeat="slide in section.content.centralCarousel.slides"
               ng-init="pagePresentationPath=slide.page">
                    <span ng-controller='GetPagePresentationCtrl'
                          ng-click="openUrl(pagePresentation.url)"
                          title="{{pagePresentation.url.textOnMouseOver}}"
                          class="defaultClickStyle">
                        <img alt="{{pagePresentation.title}}" ng-src="{{pagePresentation.headlineImg}}">
                        <div class="carousel-caption">
                            <h3 ng-bind-html="pagePresentation.headlineText  | trustHtml"></h3>
                            <p ng-bind-html="pagePresentation.description | trustHtml"></p>
                        </div>
                    </span>
    </uib-slide>
</uib-carousel>
<div style="clear:both"></div>