<form role="form" class="col-xs-12 col-sm-12 col-md-6 col-lg-8 displayOnCenter" onsubmit="">
    <div data-ng-repeat="textarea in section.content.form.textarea" class="form-group">
        <textarea placeholder="{{textarea.placeholder}}"
                  class="form-control"
                  rows="{{textarea.rows}}"
                  maxlength="{{textarea.maxNumberOfCharacters}}"
                  name="{{textarea.title}}"
                  ng-required="textarea.required"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">{{section.content.form.submitButton}}</button>
</form>

<div style="clear:both"></div>