<div class="pageIntro">
    <div class="gradientFromWhiteToTransparent">
        <img ng-src="{{pageContent.presentation.headlineImg}}"/>
    </div>
    <div class="introContent">
        <h1 ng-bind="pageContent.presentation.headlineText"></h1>
        <span ng-repeat="section in pageContent.sections">
            <a ng-if="section.title.addLinkInPageHeadline"
               ng-click="scrollTo(section.title.sectionId)"
               class="btn btn-large btn-primary" ng-bind="section.title.text"></a>
        </span>
    </div>
</div>
<div style="clear:both"></div>